<launch>
    <arg name="device" default="/dev/video0" />

    <node name="example_node" pkg="uvc_camera" type="uvc_camera_node" output="screen">
      <remap from="image_raw/compressed" to="example_node/compressed" />
      <param name="device" value="$(arg device)" />
      <param name="width" value="1920" />
      <param name="height" value="1080" />
      <param name="format" value="yuyv" />
      <param name="fps" value="25" />
      <param name="auto_exposure" value="0" />
      <param name="exposure_absolute" value="75" />
      <param name="auto_white_balance" value="0" />
      <param name="auto_focus" value="0" />
      <param name="auto_gain" value="0" />
      <param name="horizontal_flip" value="0" />
      <param name="vertical_flip" value="0" />
    </node>
</launch>

